<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css">
    
</head>
<body>

    <!-- header -->
    <!-- <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="" class="nav-brand text-dark">User Management System</a>
                </div>
            </div>
        </nav>
    </header> -->
    <!-- /header -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- 
<div class="text-center center-div" id="login">
    <div class="container border py-5">
      <div class="title pb-5">
        <h2 class="font-weight-bold">Login System</h2>
        <span>Log in for the existing user</span>
        <% if(locals.logout) { %>
          <div class="alert alert-success text-center mt-3">
            <%= logout %>
          </div>
        <% } %>
      </div>
      <form action="/route/login" method="post" class="pt-3">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <small class="form-text text-muted text-left">Enter your registered email address</small>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" value="admin123" name="password" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-success rounded-pill">Submit</button>
      </form>
    </div>
  </div> -->
  <div class="text-center center-div" id="login">
    <div class="container-login py-5 mx-auto col-lg-4 col-md-6" id="bor">
      <div class="title pb-5">
        <h2 class="font-weight-bold">Login System</h2>
        <span>Log in for the existing user</span>
        <% if(locals.logout) { %>
          <div class="alert alert-success text-center mt-3">
            <%= logout %>
          </div>
        <% } %>
        <% if(locals.error) { %>
          <div class="alert alert-danger text-center mt-3">
            <%= locals.error %>
          </div>
        <% } %>
      </div>
      <form action="/login-user" method="post" class="pt-3">
        <div class="form-group">
          <input type="email" class="form-control mx-auto d-flex" placeholder="Email" name="email" id="user-email" onkeyup="validateEmail()">
          <small class="form-text text-muted text-black-50">Enter your registered email address</small>
          <span id="email_error"></span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control mx-auto d-flex" name="password" placeholder="Password" id="user_password" onkeyup="validatePassword()">
          <span id="password_error"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-success rounded-pill" onclick="return validateSubmit()">Submit</button>
        <div class="form-group">
          <span id="submit_error"></span>
        </div>
        <div>
          <p>Register for new account? <a href="/add-user">signup</a></p>
          
        </div>
      </form>
    </div>
  </div>


<script src="js/validationLogin.js"></script>

</body>
</html>